
h1{

    text-align: center;
    
    }
.mainContainer {
    display: flex;
    background-color: white;
    flex-wrap:wrap ;
    width: 1289px;
    margin: auto;
    border: 3px solid pink;
  }


  .Container1 {
      background-image: url("./Slike/pic1.jpg");
  background-repeat: no-repeat, repeat;
    color: white;
    width: 300px;
    margin: 10px;
    text-align:left;
    height: 150px;
    font-size: 20px;
    border:1px solid black;
    background-size: cover;
  }
  

 


  .Title {
    background-color: aqua;
    border: solid black;
  }
  

  
  .Container2 {
    background-image: url("./Slike/pic2.jpg");
background-repeat: no-repeat, repeat;
  color: white;
  width: 300px;
  margin: 10px;
  text-align:left;
  height: 150px;
  font-size: 20px;
  border:1px solid black;
  background-size: cover
}
  


.Container3 {
  background-image: url("./Slike/pic3.jpg");
background-repeat: no-repeat, repeat;
color: white;
width: 300px;
margin: 10px;
text-align:left;
height: 150px;
font-size: 20px;
border:1px solid black;
background-size: cover
}


.Container4 {
  background-image: url("./Slike/pic4.jpg");
background-repeat: no-repeat, repeat;
color: white;
width: 300px;
margin: 10px;
text-align:left;
height: 150px;
font-size: 20px;
border:1px solid black;
background-size: cover
}


.Container5 {
  background-image: url("./Slike/pic5.jpg");
background-repeat: no-repeat, repeat;
color: white;
width: 300px;
margin: 10px;
text-align:left;
height: 150px;
font-size: 20px;
border:1px solid black;
background-size: cover
}


.Container6 {
  background-image: url("./Slike/pic6.jpg");
background-repeat: no-repeat, repeat;
color: white;
width: 300px;
margin: 10px;
text-align:left;
height: 150px;
font-size: 20px;
border:1px solid black;
background-size: cover
}



